# Git ignore file for repository

# misc vscode/environment related files
.vscode/
**/pycache/*
**/*pycache*/*
**/init.py
logs/

# Statements are bank statements and other import data, should not be uploaded ever
statements/

# These are django files and are being omitted for now

# deprecated archive, kept local for reference
utilities/deprecated/*

# databases
db.sqlite3
Dead_db.sqlite3_dead

# Misc test/scratch files that shouldnt be on Git